# Dependencias de Node.js
node_modules/
dist/
build/

# Variables de entorno y secretos (NUNCA subir esto)
.env
.env.local

# Logs del sistema
npm-debug.log*
yarn-debug.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/